.Main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding:8px 16px!important
}

.Intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:0.01em 16px;
  padding-top:32px !important;
  padding-bottom:32px !important;
}

.Intro:after, .Intro:before {
  content:"";
  display:table;
  clear:both
}

.Intro h1 {
  border-bottom:1px solid #ccc!important;
  border-color:#f1f1f1 !important;
  padding-top:16px!important;
  padding-bottom:16px!important;
}

/* .center-image{
  display:flex;
  justify-content:center; 
  align-items:center;    
  height:300px;
  width:300px;
  background:orange;
}

.center-image img{
 max-width:100%;
 max-height:100%;
} */

@media (max-width: 960px) {
  
}

