.Sim {
    padding: 8px 16px !important;
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.422) !important;
    opacity: 0.75;
    transform: scale(1.5);
}

.Full {
    color: #f1f1f1 !important;
}