.Wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .Wrapper  video {
    height: 80%;
    width: 60%;
  }
  
  .Center-text {
    display: inline-block;
    margin-top:16px !important;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    width: auto;
    text-align: center !important;
  }
  
  .Center-text h1 {
    font-size:36px !important;
    color:#fff !important;
  }
  
  .Sim {
    padding:8px 16px !important;
    color:#fff !important;
    background-color:#000 !important;
    opacity:0.75;
  }
  
  .Full {
    color:#f1f1f1 !important;
  }