// Signin (core/sections/_signin.scss) -----------------------------
$signin--padding-t__mobile: null; // signin, top padding (mobile)
$signin--padding-b__mobile: null; // signin, bottom padding (mobile)
$signin--padding-t__desktop: null; // signin, top padding (desktop)
$signin--padding-b__desktop: null; // signin, bottom padding (desktop)
$signin--inner-padding-v_mobile: 48px; // vertical padding, i.e. padding between content and image (mobile, both signin split and signin full)
$signin--inner-padding-v_desktop: 64px; // vertical padding, i.e. padding between content and image (desktop, only signin full)